# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gitTT\nldi_xstool\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
